<div class="mx-auto w-full flex">
  <div class="mx-auto rounded m-4 w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <h2 class="text-center text-2xl font-semibold mt-3"><%= @task.title %></h2>
    <div class="flex justify-center mt-5">
      <p class="w-full my-5">
        <strong class="font-medium mb-1">Priority:</strong>
        <%= @task.priority %>
      </p>
      <p class="w-full my-5">
        <strong class="font-medium mb-1">Date:</strong>
        <%= @task.date %>
      </p>
    </div>
    <div class="mt-5">
      <h3 class="text-xl font-semibold">Details</h3>
      <p class="text-gray-600 mt-2"><%= @task.details %></p>
    </div>
    <%= link_to 'Edit this task', edit_task_path(@task), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this task', task_path(@task), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-300 font-medium" %>
    </div>
    <%= link_to 'Back to tasks', tasks_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
